.head {
    background-color: #1F2937;
    height: 9cm;
    width: 100%;
    display: inline-block;
    margin: 0px;
    text-align: center;
    bottom: 0px;
    color: #f9faf8;
    padding: 100px ;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    overflow: hidden;
    padding: 20px 0px 20px 100px;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 18px; 
  }
body{
    margin: 0;
    padding: 0;
    
    }
